<section class="contacts">
    <div class="container">
        <h3 class="contacts__title title">Contact Us</h3>
        <div class="contacts__box">
            <div class="contacts__box-item">
                <img src="images/svg/contacts-phone.svg" alt="icon-phone" class="contacts__box-item-img">
                <a href="tel:3579056759" class="contacts__box-item-link">+357 9056759</a>
            </div>
            <div class="contacts__box-item">
                <img src="images/svg/contacts-message.svg" alt="icon-message" class="contacts__box-item-img">
                <a href="mailto:contact@pamrelocation.com"
                    class="contacts__box-item-link">contact@pamrelocation.com</a>
            </div>
        </div>
        <form class="contacts__form">
            <div class="contacts__form-inner">
                <h5 class="contacts__form-title">send inquiry</h5>
                <div class="contacts__form-box-input">
                    <input type="text" class="contacts__form-input" placeholder="Your Name" required>
                    <input type="email" class="contacts__form-input" placeholder="Email" required>
                    <input type="text" class="contacts__form-input" placeholder="Subject">
                    <input type="tel" class="contacts__form-input" placeholder="Phone" required>
                </div>
                <textarea class="contacts__form-textarea" placeholder="Your message"></textarea>
                <div class="contacts__form-box">
                    <label for="form-check">
                        <input type="checkbox" class="contacts__form-box-checkbox real-checkbox" id="form-check"
                            required></input>
                        <span class="custom-checkbox"></span>
                        <p class="contacts__form-box-checkbox-text">By clicking “Submit button” you accept
                            our <a href="#" class="contacts__form-box-link">Terms & Conditions</a>and have
                            read our <a href="#" class="contacts__form-box-link">Privacy Policy</a> and <a
                                href="#" class="contacts__form-box-link">Disclaimer</a></p>
                    </label>
                </div>
                <button type="submit" class="contacts__form-btn accent-link">Submit</button>
            </div>
        </form>
    </div>
</section>