<footer class="footer">
    <div class="big-container">
        <div class="footer__inner">
            <div class="footer__box">
                <p class="footer__box-copy">© 2022 PAM Consulting. All rights reserved</p>|
                <a href="disclaimer.html" class="footer__box-link">Disclaimer</a>|
                <a href="privacy.html" class="footer__box-link">Privacy poilcy</a>
            </div>
            <a href="#" class="footer__link-int">Who designed this website?</a>
        </div>
    </div>
</footer>