<header class="header">
    <div class="container">
        <div class="header__top">
            <a href="index.html" class="header__top-logo-link">
                <img class="header__top-logo-img" src="images/svg/logo.svg" alt="logo">
            </a>
            <nav class="menu">
                <ul class="menu__list">
                    <li class="menu__list-item">
                        <a href="index.html" class="menu__list-link">Home</a>
                    </li>
                    <li class="menu__list-item">
                        <a href="about.html" class="menu__list-link">AbouT us</a>
                    </li>
                    <li class="menu__list-item">
                        <a href="services.html" class="menu__list-link menu__list-link--services">Services</a>
                        <ul class="submenu__list">
                            <li class="submenu__list-item"><a href="investments.html" class="submenu__list-link">Investments opportunities</a>
                            </li>
                            <li class="submenu__list-item"><a href="business.html" class="submenu__list-link">Business relocation</a>
                            </li>
                            <li class="submenu__list-item"><a href="family.html" class="submenu__list-link">Family relocation</a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu__list-item">
                        <a href="invest.html" class="menu__list-link">Invest in cyprus</a>
                    </li>
                    <li class="menu__list-item">
                        <a href="migration.html" class="menu__list-link">Migration</a>
                    </li>
                    <li class="menu__list-item">
                        <a href="contacts.html" class="menu__list-link">Contact us</a>
                    </li>
                </ul>
            </nav>
            <a href="#" class="header__top-link">Get in touch</a>
            <img src="../images/svg/phone-btn.svg" alt="menu" class="phone-btn">
            <div class="phone-menu">
                <ul class="phone-menu__list">
                    <li class="phone-menu__item">
                        <a href="#" class="phone-menu__link">Home</a> 
                    </li>
                    <li class="phone-menu__item">
                        <a href="#" class="phone-menu__link">AbouT us</a>
                    </li>
                    <li class="phone-menu__item">
                        <a href="#" class="phone-menu__link">Services</a>
                    </li>
                    <li class="phone-menu__item">
                        <a href="#" class="phone-menu__link">Invest in cyprus</a>
                    </li>
                    <li class="phone-menu__item">
                        <a href="#" class="phone-menu__link">Contuct us</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>