<section class="location">
    <div class="container">
        <div class="location__inner">
            <div class="location__box-map">
                <h5 class="location__box-map-title">FIND THE IDEAL LOCATION TO CALL HOME</h5>
                <p class="location__box-map-text">Click your mouse over any city to learn more about it</p>
                <div class="location__imgbox">
                    <img src="images/location/map.png" alt="map" class="location__box-map-img">
                    <a href="#" class="location__box-map-link">gegrgeg</a>
                </div>
            </div>
            <div class="location__box-content location__box-content--larnaka">
                <div class="location__box-content-imgbox">
                    <img src="images/location/1.png" alt="image" class="location__box-content-img">
                    <img src="images/location/2.png" alt="image" class="location__box-content-img">
                    <img src="images/location/3.png" alt="image" class="location__box-content-img">
                </div>
                <h6 class="location__box-content-title">Larnaka</h6>
                <p class="location__box-content-text">Being the third largest city in Cyprus and home to the island’s most busy airport, it offers visitors a variety of activities and experiences that will remain unforgettable to any individual.</p> 
                <p class="location__box-content-text">It is known for its Salt Lake that hosts thousands of Flamingos each year as well as for its sandy beaches and historical sites.</p>
                <p class="location__box-content-text">The rapidly increasing corporate ecosystem and comfortable lifestyle create an exceptional living
                environment for anyone who is looking to enjoy a relaxed life by the sea.</p>
            </div>
        </div>
    </div>
</section>