<section class="services">
    <div class="container">
        <div class="services__inner">
            <h3 class="services__title">Our Services</h3>
            <div class="services__items">
                <div class="services__item">
                    <img src="images/services/1.png" alt="image" class="services__item-img">
                    <h5 class="services__item-title">Family
                        Relocation</h5>
                    <p class="services__item-text">With strategic planning, we simplify the moving process
                        so you and your family can feel safe and confident.</p>
                    <a href="#" class="services__item-link accent-link">Find Out More</a>
                </div>
                <div class="services__item">
                    <img src="images/services/2.png" alt="image" class="services__item-img">
                    <h5 class="services__item-title">Business
                        Relocation</h5>
                    <p class="services__item-text">We handle the responsibility of moving your business to
                        Cyprus, so you can focus on your business goals.</p>
                    <a href="#" class="services__item-link accent-link">Find Out More</a>
                </div>
                <div class="services__item">
                    <img src="images/services/3.png" alt="image" class="services__item-img">
                    <h5 class="services__item-title">Investment
                        plans</h5>
                    <p class="services__item-text">Discover the opportunity to further enhance your business
                        ambitions, by choosing the optimal investment plan.</p>
                    <a href="#" class="services__item-link accent-link">Find Out More</a>
                </div>
            </div>
        </div>
    </div>
</section>